<router-outlet></router-outlet>
<div class="flex justify-center items-center flex-col h-screen gap-8 bg-gray-100">
  <h1 class="text-5xl"> Login </h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2 w-80">
      <mat-form-field appearance="fill">
        <mat-label> E-mail </mat-label>
        <input matInput required formControlName="email">
        <mat-error *ngIf="loginForm.invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="loginForm.invalid">{{getErrorMessage('password')}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a routerLink="/auth/signup" class="justify-self-start self-start mt-2 text-blue-600 hover:underline">
        <span> Sign up </span>
      </a>
    </div>
    <button mat-flat-button color="primary" type="submit" class="w-80">Login</button>
  </form>
</div>
