<div class="flex items-center flex-col h-screen gap-8 w-full bg-gray-100 pt-20">
  <div class="w-2/6">
    <form [formGroup]="createFakeTweetForm" (ngSubmit)="createFakeTweet()">
      <div class="flex flex-col gap-2 w-full ">
        <mat-form-field appearance="fill">
          <mat-label> Hey boss 😎 What do you want to fake? </mat-label>
          <textarea  matInput required formControlName="text"></textarea>
        </mat-form-field>
      </div>

      <div class="flex flex-col gap-2 w-full ">
        <mat-form-field appearance="fill">
          <mat-label> Username (without @) </mat-label>
          <input  matInput required formControlName="username">
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" type="submit" class="w-80 flex justify-end">Tweet</button>
    </form>
  </div>
</div>

