<router-outlet></router-outlet>
<div class="flex justify-center items-center flex-col h-screen gap-8 bg-gray-100">
  <h1 class="text-5xl"> Sign up </h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2 w-80">
      <mat-form-field appearance="fill">
        <mat-label> E-mail </mat-label>
        <input matInput required formControlName="email">
        <mat-error *ngIf="signUpForm.invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Name </mat-label>
        <input matInput required formControlName="name">
        <mat-error *ngIf="signUpForm.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Password </mat-label>
        <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="signUpForm.invalid">{{getErrorMessage('password')}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Password confirmation </mat-label>
        <input matInput formControlName="password_confirmation" required [type]="hideConfirmation ? 'password' : 'text'">
        <mat-error *ngIf="signUpForm.invalid">{{getErrorMessage('password_confirmation')}}</mat-error>
        <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a routerLink="/auth/login" class="justify-self-start self-start mt-2 text-blue-600 hover:underline">
        <span> Login </span>
      </a>
    </div>
    <button mat-flat-button color="primary" class="w-80">Sign Up</button>
  </form>
</div>
